@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
html{
	font-size: 10px;
	font-family: 'montserrat',sans-serif;
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
}
.container{
	min-height:100vh;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img{
	height:100vh;
	width:100%;
	object-fit: cover;
}
a{
	text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p{
	color:black;
	font-size:1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;

}
.section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing: .2rem;
	text-align:center;	
}
.section-title span{
	color:crimson;
}
.cta{
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease ;
	transition: background-color,color;
}
.cta:hover{
	color:white;
	background-color: crimson;
}
.brand h1{
	font-size:3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span{
	color: crimson;
}
/* header section*/
#header{
	position: fixed;
	z-index:1000;
	left:0;
	top:0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}

#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul{
	list-style:none;
	position: absolute;
	background-color: rgb(31,30,30);
	width: 100vw;
	height: 100vh;
	left:0%;
	top:0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color:white;
	text-transform: uppercase;
	padding:20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%)scale(0);
	color:rgba(240,248,255,0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%,-50%) scale(1);
	letter-spacing:initial; 
}
#header .nav-list ul li:hover a{
	color:crimson;
}
#header .hamburger{
	height: 60px;
	width:60px;
	display: inline-block;
	border:3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after{
	position: absolute;
	content: '';
	height: 100%;
	width:100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;

}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index:-1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top,bottom;
}
#header .hamburger .bar::after{
	top:8px;
}
#header .hamburger .bar::before{
	bottom:8px;
}
#header .hamburger.active .bar::before{
	bottom:0;
}
#header .hamburger.active .bar::after{
	top:0;
}

/* end header section*/

#hero{
	background-image: url("bg.jpg");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after{
	content: '';
	position: absolute;
	left:0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black; 
	opacity:.7;
	z-index:-1;
}
#hero .hero{
	max-width:1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1){
	animation-delay: 1s;
}
#hero h1:nth-child(2){
	animation-delay: 2s;
}
#hero h1:nth-child(3){
	animation: text_reveal_name .5s ease forwards ;
	animation-delay: 3s;
}
#hero h1 span{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: .3s;

}
#hero h1:nth-child(1) span {
	animation-delay: .5s;
}

#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* end of hero*/
/* service section*/
#services{
}
#services .services{
	flex-direction:column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing: .2rem;
	text-align:center;	
}
#services .section-title span{
	color:crimson;
}
#services .service-top{
	/*color:black;
	font-size:1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
	width: 800px;*/
	width: 500px;
	max-margin:0 auto;

}
#services .service-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap:wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content:center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url("dm5.jpg");
	background-size: cover;
	margin: 10px 5%;
	/*width: 100px;*/
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after{
	content:'';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width:100%;
	background-color: black;
	opacity: .5;
	z-index: -1;
}
#services .service-bottom .icon{
	height:80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-bottom .icon img{
	height: 80px;
	width: 80px;
	margin-bottom:20px;
	object-fit: cover;
}
#services .service-item h2{
	font-size:2rem;
	color:white;
	margin-bottom:10px;
	text-transform:uppercase;
}
#services .service-item p{
	color:white;
	text-align:left;
	color:black;
	font-size:1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
	
}


/* End service section*/
/*project*/
#projects .section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing: .2rem;
	text-align:center;
	transform: uppercase;	
}
#projects .section-title span{
	color:crimson;
}
#projects .projects{
	flex-direction: column;
	max-width:1200px;
	margin:0 auto;
	padding:100px 0;
}
#projects.projects-header h1{
	margin-bottom: 50px;
}
#projects .all-projects{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item{
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
	/*height: 400px;*/
}
#projects .project-info{
	padding:30px;
	flex-basis:50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: grey;
	color:white;
}
#projects .project-info h1{
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2{
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p{
	color: white;
}
#projects .project-img{
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after{
	content:'';
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
}
#projects .project-img img{
	transition: .3s ease transform; 
}
#projects .project-item:hover .project-img img{
	transform: scale(1.1);
}
/* end projects*/
/*about section*/
#about .about{
	flex-direction: column-reverse;
	text-align: center;
	max-width:1200px;
	margin:0 auto;
	padding:100px 20px;
}
#about .section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing: .2rem;
	text-align:center;
	transform: uppercase;
}
#about .section-title span{
	color:crimson;
}
#about .col-left{
	width:250px;
	height:360px;
}
#about .col-right{
	width:100%;
}
#about .col-right h2{
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p{
	margin-bottom: 20px;
}
#about .bta{
	display: inline-block;
	padding: 10px 20px;
	color: black;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease ;
	transition: background-color,color;
	margin-bottom: 50px;
}
#about .bta:hover{
	color:white;
	background-color: crimson;
}
#about .col-left .about-img{
	width :100%;
	height: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after{
	content: '';
	position: absolute;
	left:-33px;
	top:19px;
	height:98%;
	width:98%;
	border:7px solid crimson;
	z-index:-1;
}
#about .col-right p{
	color:black;
	font-size:1.4rem;
	margin-top: 5px;
	/*margin-left: 80px;*/
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
/* end section*/
/* contact section*/
#contact .section-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform:uppercase;
	letter-spacing: .2rem;
	text-align:center;
	transform: uppercase;
}
#contact .section-title span{
	color: crimson;
}
#contact .contact{
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}
#contact .contact-items{
	width: 400px;
}
#contact .contact-item{
	width:80%
	padding:20px;
	text-align:center;
	border-radius: 30px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 18px 0 #0000002c;
	flex-direction: column;
	transition: .3s ease box-shadow;

}
#contact .contact-item:hover{
	box-shadow:0px 0px 5px 0 #0000002c;
}
#contact .icon{
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1{
	font-size:2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2{
	font-size:1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*end contact section*/
/*footer*/
#footer{
	background-color: grey;
}
#footer .footer{
	min-height:200px;
	flex-direction: column;
	padding-bottom: 10px;
	padding-top: 10px;
}
#footer h2{
	color:white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon{
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item{
	height:50px;
	width: 50px;
	margin:0 5px;
}
#footer .social-item img{
	filter:grayscale(1);
	transition: .3s ease filter;
}
#footer .social-item:hover img{
	filter: grayscale(0);
}
#footer p{
	color:white;
	font-size: 1.3rem;
}
/*end footer*/
/*key frames*/
@keyframes hamburger_puls{
	0%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity:0;
		transform: scale(1.4);
	}
}

 
@keyframes text_reveal_box{
	50%{
		width: 100%;
		left: 0;
	}
	100%{
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal{
	100%{
		color:white;
	}
}
@keyframes text_reveal_name{
	100%{
		color:crimson;
		text_weight:500px;
	}
}
/* media query for tablet*/
@media only screen and (min-width:768px){
	#hero .cta{
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	#services h1.section-title{
		font-size: 6rem;
	}
	/*hero*/
	#hero h1{
		font-size:7rem;
	}
	/* end hero*/
	/*service section*/
	#services .service-bottom .service-item{
		flex-basis:45%;
		margin:2.5%;
	}
	/* end service*/
	/*project */
	#projects .project-item{
		flex-direction: row;
	}
	#projects .project-item:nth-child(even){
		flex-direction: row-reverse;
	}
	#projects .project-item{
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-item{
		width: 600px;
		height: 400px;
	}
	#projects .all-projects .project-info{
		height:100%;	
	}
	#projects .all-projects .project-img{
		height: 100%;
	}
	/*end project*/
	/*about*/
	#about .about{
		flex-direction: row;
	}
	#about .col-left{
		width:600px;
		height:400px;
		padding-left:60px;
	}
	#about .about .col-left .about-img::after{
		left:-45px;
		top:34px;
		height:98%;
		width:98%;
		border:10px solid crimson;
	}

	#about .col-right {
		text-align:left;
		padding: 30px;
	}
	#about .col-right h1{
		text-align: left;
	}
	/*end about*/
	/*contact*/
	#contact .contact{
		flex-direction: column;
		padding: 100px 0;
		align-items:center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items{
		width:100%;
		display: flex;
		flex-direction: row;
		padding: 20px;
		margin: 0;
	}
	#contact .contact-item{
		margin:20px;
		flex-direction: row;
	}
	#contact .contact-item .icon{
		height: 40px;
		width: 40px;
	}
	#contact .contact-item .icon img{
		object-fit: contain;
	}
	#contact .contact-item .contact-info{
		width:100%;
		text-align:left;
		padding-left: 20px;
	}


	/*end contact*/
	
}
/*end media query for tablet*/
/*media query for desktop*/
@media only screen and(min-width:1200px){
	#header .hamburger{
		display: none;
	}
	#header .nav-list ul{
		position:initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent; 
	}
	#header .nav-list ul li{
		display: inline-block;
	}
	#header .nav-list ul li{
		font-size: 1.8rem;
	}

	#header .nav-list ul a:after {
		display: none;
	}

	#services .service-bottom .service-item
    {
	 flex-basis: 22%;
     margin:1.5%;
    }
}
/* end media query for desktop*/


/*.contact{
	width: 100%;
	position: center;
	top: 100%;
	text-align:center;
	padding: 0px, 0px;
	color: transparent;
	color: rgba(0,0,0,0.5);
	margin-top: 200px;
	margin-right: 50px;
	position: relative;
}
	



}
.logo img{
	margin-top: -70px;
	margin-left: -110px;
	position: absolute;
	background-size: contain;
	width: 200px;
	height: 200px;
	padding:0px 0px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
.logo1 {
	margin-top: -30px;
	margin-right: 780px;
	color: #fff;
	font-size:20px;
	padding: 0px 20px;
	width: 200px;
	height: 100px;
	float: right;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:60px;
	padding:10px 90px;
	box-sizing:border-box;
	background: rgba(0,0,0,0.4);
	border-bottom:1px solid #fff;
}
nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
}
nav ul li a{
	line-height: 40px;
	color:#fff;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
nav ul li a:hover{
	background: rgba(0,0,0,0.7);
	border-radius: 6px;
}
nav ul li:hover > ul{
	display:block;
}
nav ul li:hover {
	background: :transparent;
	transition: 0.9s;

}
nav ul ul{
	display: none;
	background: transparent;
	padding: 0;
	margin: 0;
	float:left;
	margin-top: 10px;
	margin-left: 20px;
	position: absolute;
	top:100%;
	color: black;
	transition: 0.9s;
}
nav ul ul li {
	float:none;
	position:relative;

}
nav ul ul li a{
	padding :25px;
	color:white;
	width:300px;
	text-align:left;
}
nav ul ul li a:hover{
	background: lightblack;
	color: white;
	transition:0.9s;
}
body{
	width:100%;
	height: 100vh;
	/*background: url("bg.jpg");*/
	/*background-size: cover;
	background-position: center;
	font-size: 15px;
}
button{
	width: 200px;
	padding: 15px 0;
	margin-left: 550px;
	color:#000;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background-color:black;
	border-radius: 25px;
	border: 2px solid #fff;
	background: transparent;
	cursor: pointer;
	position: relative;
	top:60%;

}
span{
	background: #fff;
	width: 0;
	height: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}


/*
	background-color: skyblue;
	background-image:url("dm5.jpg");
	background-size:cover;
	/*background-position: center;*/
	/*background-repeat: no-repeat;
	height: 10px;
	width: 1000px;
}/*
.menu-bar{
	background: rgba(0,100,0);
	text-align: right;
	background-size: cover;

}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: white;
	align-items: cover;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding:15px ;
}
/*
.menu-bar {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar *//*
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover *//*
.menu-bar ul li{
  background-color: #ddd;
  color: black;
  width: 120px;
  margin: 15px;
  padding:15px;
}

/* Add a color to the active/current link *//*
.menu-bae a.active {
  background-color: #4CAF50;
  color: white;
}
*/
/*
img{
	max-width: 2000%;
	max-height: 2000%;
	align-items:left;
}/*
h3{
	text-align: top;
	font-size: 50px;
	color: black;
}*/
/*
h1{
	text-align: center;
	font-size: 50px;
	color: black;
}
form{
	margin: 20px auto;
	width:320px;
	font-size: 40;
	color: black;
}
input{
	padding: 10px;
	font-size: inherit;
}
input[type="text"]{
	display: block;
	margin-bottom: 25px;
	width: 50%;
	border: 2px solid steelblue;
}
input[type="PHONE"]{
	display: block;
	margin-bottom: 25px;
	width: 50%;
	border: 2px solid steelblue;
}
input[type="radio"]{
	margin: 0 8px 25px 18px;	
}
input[type="radio"]:first-child {
	 margin-left: 0;
}
input[type="checkbox"]{
	margin: 0 8px 25px 18px;
}
input[type="checkbox"]:first-child {
	margin-left: 0;
}
input[type="submit"]{
	width: 100px;
	height: 45px;
	border: none;
	background: steelblue;
}
input[type="reset"]{
	width: 100px;
	height: 45px;
	border: none;
	background: white;
}
input[type="radio"]:checked + label{
	font-weight: bold;
	font-size: 18px;
}
input[type="date"]{
	display: block;
	margin-bottom: 25px;
	width: 50%;
	border: 2px solid steelblue;
}
select[name="rooms"]{
	width: 50%;
	height: 45px;
	border: 2px solid steelblue;
	background: white;
}*/
